#!/usr/bin/env bash

# Setting this, so the repo does not need to be given on the commandline:
export BORG_REPO={{ borg_user }}@{{ dest_host }}:{{ backup_path }}

# See the section "Passphrase notes" for more infos.
export BORG_PASSPHRASE='{{ borg_passphrase }}'

# some helpers and error handling:
info() { printf "#### %s %s ####\n" "$( date )" "$*" | tee -a /var/log/borg.log; }
trap 'echo $( date ) Backup interrupted | tee -a /var/log/borg.log; exit 2' INT TERM

info "Starting backup"

# Backup the most important directories into an archive named after
# the machine this script is currently running on:

borg create                         \
    --verbose                       \
    --filter AME                    \
    --list                          \
    --stats                         \
    --show-rc                       \
    --compression lz4               \
    --exclude-caches                \
                                    \
    ::'{now:%Y-%m-%d_%H:%M}'        \
    /etc                            \
    2>> /var/log/borg.log

backup_exit=$?

info "Pruning repository"

borg prune                          \
    --verbose                       \
    --list                          \
    --show-rc                       \
    --stats                         \
    --keep-within 30d               \
    --keep-monthly 2                \
    2>> /var/log/borg.log

prune_exit=$?

# use highest exit code as global exit code
global_exit=$(( backup_exit > prune_exit ? backup_exit : prune_exit ))

if [ ${global_exit} -eq 0 ]; then
    info "Backup and Prune finished successfully"
elif [ ${global_exit} -eq 1 ]; then
    info "Backup and/or Prune finished with warnings"
else
    info "Backup and/or Prune finished with errors"
fi

exit ${global_exit}
