default via {{ router_lan_net.gateway }}
{{ router_www_net.network }}/{{ router_www_net.prefix }} via {{ router_lan_net.gateway }}
{{ dir_centr_net.network }}/{{ dir_centr_net.prefix }} via {{ router_lan_net.gateway }}
{{ dev_office1_net.network }}/{{ dev_office1_net.prefix }} via {{ router_lan_net.gateway }}
