# Configure logging
log syslog all;

# Override router ID
{% if inventory_hostname == 'one' %}
router id 1.1.1.1;
{% elif inventory_hostname == 'two' %}
router id 2.2.2.2;
{% elif inventory_hostname == 'three' %}
router id 3.3.3.3;
{% endif %}

protocol kernel {
    persist;        # Don't remove routes on bird shutdown
    scan time 20;   # Scan kernel routing table every 20 seconds
    export all;     # Default is export none
}

# This pseudo-protocol watches all interface up/down events.
protocol device {
    scan time 10;   # Scan interfaces every 10 seconds
}

protocol ospf MyOSPF {
    ecmp;
    area 0 {
        interface "eth*" {
            cost 10;
        };
    };
}
