student@{{ virtual_domain }} {{ virtual_domain }}/student/Maildir/
teacher@{{ virtual_domain }} {{ virtual_domain }}/teacher/Maildir/
manager@{{ virtual_domain }} {{ virtual_domain }}/manager/Maildir/
