---
# tasks file for nginx
- name: Install EPEL repo and Nginx
  yum:
    name: "{{ item }}"
    state: latest
  loop:
    - epel-release
    - nginx

- name: Start and enable Nginx
  systemd:
    name: nginx
    state: started
    enabled: yes

- name: Ð¡opy Nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: Restart Nginx