default via {{ dev_office1_net.gateway }}
{{ router_www_net.network }}/{{ router_www_net.prefix }} via {{ dev_office1_net.gateway }}
{{ router_lan_net.network }}/{{ router_lan_net.prefix }} via {{ dev_office1_net.gateway }}
{{ dir_centr_net.network }}/{{ dir_centr_net.prefix }} via {{ dev_office1_net.gateway }}
{{ dev_office2_net.network }}/{{ dev_office2_net.prefix }} via {{ dev_office1_net.gateway }}
