dev {{ virt_int }}
remote {{ server_host.addr }}
ifconfig {{ client_vpn.addr }} {{ client_vpn.mask }}
topology subnet
secret /etc/openvpn/static.key
comp-lzo
status /var/log/openvpn-status.log
log /var/log/openvpn.log
verb 3
