*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A PREROUTING -p tcp -m tcp --dport 8080 -j DNAT --to-destination {{ dest_ip }}:80
-A POSTROUTING -d {{ dest_ip }}/32 -p tcp -j SNAT --to-source {{ src_ip }}
COMMIT
